*{
    margin: 0px;
}

.home_text {
    display: flex;
    border-radius: 20px;
    height: 40vh;
    margin: 5vh;
    overflow: hidden;
    background-color: white;
    overflow: hidden;
}

.left {
    height: 100%;
    width: 50%;
    justify-content: center;
}

.right {
    height: 100%;
    width: 50%;
}

.home_text img {
    width:100%;
    height:100%;
    object-fit:cover;
}

.home_text h3 {
    font-family: "Lora", serif;
    color: #1D3557;
    font-size: 4.5vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
}

.home_text p {
    color: #1D3557;
    font-family: "Poppins", sans-serif;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    text-align: justify;
}