*{
    margin: 0px;
}

.header {
    overflow: hidden;
    background-color: white;
    align-items: center;
    padding: 3vh 10vh 3vh 10vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    margin: 0;
    padding: 0;
    font-family: "Lora", serif;
    font-size: 10vh;
    font-weight: bold;
    color: #1D3557;
}

.logo_title {
    display: flex;
    align-items: center;
}

p {
    margin: 0;
    color: #1D3557;
    font-size: 3vh;
}

.title_subtitle {
    text-align: center;
    display: flex;
}

.title_blue {
    color: #86A6A4;
}

.title_yellow {
    color: #FFB248;
}
