*{
    margin: 0px;
}

.home_text {
    display: flex;
    border-radius: 20px;
    margin: 5vh;
    background-color: white;
    overflow: hidden;
}

.home_text h3 {
    font-family: "Lora", serif;
    color: #1D3557;
    font-size: 4.2vh;
    margin-top: 1vh;
    margin-bottom: 2vh;
    text-align: center;
}

.home_text p {
    color: #1D3557;
    font-family: "Poppins", sans-serif;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 2vh;
    font-size: 2.5vh;
    text-align: justify;
}

.lista {
    display: grid;
    justify-items: center;
    margin-bottom: 2vh;
}

.home_text li {
    color: #1D3557;
    font-family: "Poppins", sans-serif;
    margin-left: 3vh;
    margin-right: 3vh;
    margin-bottom: 1vh;
    font-size: 2.5vh;
    text-align: justify;
}