

*{
  margin: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: #F2F2F2;
  background-image: url('./images/background.jpg');
  overflow-x: hidden;
}

code {
  font-family: "Poppins", sans-serif;
}
